body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    min-height: 100vh;
}

.bodyOne{
    background-color: #1F2937;
    flex: 1;
}

.bodyOne .header{
    display: flex;  
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 18px;
    margin-left: 150px;
    margin-right: 150px;
}

.underHeader{
    display: flex; 
    padding: 48px;
    padding-left: 150px;
    padding-right: 150px;
    justify-content: space-between
}

.leftBlock{
    display: fle;
    flex-direction: column;
    width: 450px;
    gap: 10px;
}

.leftHeader{
    font-size: 48px;
    font-weight: bolder;
    color: white;
    margin-bottom: 8px;
}

.text, .header li{
    font-size: 18px;
    color: #E5E7EB;
}

.signupButton{
    margin-top: 8px;
    background-color: #3882F6;
    color:#E5E7EB;
    font-weight: bold;
    border-radius: 25px;
    border-style: none;
    padding-left: 15px;
    padding-right: 15px;
}

.rightBlock{
    display:flex;
    width:500px;
    height: 250px;
    background-color: gray;
    align-items: center;
    justify-content: center;
    color: #E5E7EB;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 18px;
}

.bodyTwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.bodyTwo .header{
    padding: 45px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;

}
.bodyTwo .underHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 75px;
    padding-top: 0px;

}

.block{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.oneBlock, .twoBlock, .threeBlock, .fourBlock{
    display: flex;
    flex-direction: column;
    width: 175px;
    height: 175px;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
}

.bodyThree{
    display: flex;
    flex-direction: column;
    padding: 75px;
    background-color: #E5E7EB;
    align-items:center;
    justify-content: center;
}

.bodyThree p{
    font-size: 36px;
    color:#1F2937;
    
}

.bodyThree .quoted{
    font-size: 24px;
    margin-left: 300px;
}

.bodyFour{
    display: flex;
    align-items: center;
    justify-content: center;
}

.bodyFour p{
    margin: 0px;
    margin-bottom: 25px;
    font-size: 12px;
}

.callToAction{
    display: flex;
    background-color:#3882F6;
    padding-right: 150px;
    border-radius: 25px;
    padding-left: 150px;
    margin-top: 75px;
    margin-bottom:75px;
    padding-bottom: 8px;
    gap: 150px;
}

.callToAction .header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 25px;
    font-size: 16px;
    color: #E5E7EB;
}

.callToAction .signupButton{
    border-style: solid;
    border-color: #E5E7EB;
    border-radius: 25px;
    height: 30px;
    width: auto;
    margin-top: 30px;
}
a{
    color: #E5E7EB;
    text-decoration: none;
}
.footer{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    color:#E5E7EB;
    font-size: 12px;
    padding: 25px;
}